CONFIG_ARM=y
CONFIG_ARCH_HAILO=y
CONFIG_TARGET_HAILO15_SBC_REV3_1=y
CONFIG_DEFAULT_DEVICE_TREE="hailo15-sbc-rev3-1"
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_USE_PREBOOT=y
CONFIG_PREBOOT="i2c dev 1; i2c mw 0x40 0x00 0x54 1"